# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# 인증서/프로비저닝
*.p12
*.cer
*.mobileprovision
ios/fastlane/certificates/
ios/fastlane/profiles/

# App Store Connect API 키
AuthKey_*.p8
ios/fastlane/AuthKey_*.p8

# 환경변수 파일
.env
ios/fastlane/.env

# Firebase
ios/Runner/GoogleService-Info.plist

# fastlane 임시/로그/빌드 산출물
ios/fastlane/report.xml
ios/fastlane/test_output/
ios/fastlane/.env

# 빌드 결과물
ios/build/
