<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBOupDFQsHtG1RX89INKfDC1FljIGURozs</string>
	<key>GCM_SENDER_ID</key>
	<string>1050199370989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jay.pomoDaily</string>
	<key>PROJECT_ID</key>
	<string>pomo-daliy</string>
	<key>STORAGE_BUCKET</key>
	<string>pomo-daliy.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050199370989:ios:fb09614d0d8ea41aa630e4</string>
</dict>
</plist>